.DropDownDate{
    width: 0;
}

.MonthPicker{
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.YearPicker{
    line-height: normal;
    letter-spacing: 3px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: normal;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;

}

.DayPicker{
    padding: 10px;
}
