.InputElement{
    width: 100%;
    padding: 6px 0px;
    margin: 10px;
    border-radius: 5px;
    outline: none;
    font: inherit;
    display: block;
    border: 1px solid #ccc;
    float: center;
}