.Checkbox{
    float: left;
    padding:20px;
    font-family: 'Times New Roman', Times, serif;
}

.Checkbox1{
    float: left;
    font-family: 'Times New Roman', Times, serif;
}

.ForgotPass{
    float: right;
    padding:20px;
    font-family: 'Times New Roman', Times, serif;
}

.SignUp{
    font-family: 'Times New Roman', Times, serif;
    float: center;
}

.TermsLink{
    font-family: 'Times New Roman', Times, serif;
    float: left;
}